<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.segwangYouth.memberManagement.mapper.MemberManagementInfoMapper">

	<select id="selectMemberDetail" resultType="java.util.Map">
	SELECT A.MEMBER_NAME
		 , MEMBER_SEQ
		 , DATE_FORMAT(A.MEMBER_BIRTHDAY,'%Y-%m-%d') AS MEMBER_BIRTHDAY
		 , SF_GET_CODE_NAME('AF',A.MEMBER_GENDER) AS MEMBER_GENDER
		 , A.MEMBER_GENDER AS MEMBER_GENDER_CODE
		 , B.VILLAGE_NAME
		 , B.VILLAGE_SEQ
		 , A.PHONE_NUMBER
		 , A.MEMBER_POSITION
		 , A.MEMBER_JOB
		 , A.MEMBER_EMAIL
		 , A.MEMBER_ADDRESS
		 , A.FIRST_ATTENDANCE
		 , DATE_FORMAT(A.FAITH_START_DATE,'%Y-%m-%d') AS FAITH_START_DATE
		 , A.BAPTISM_CODE
		 , A.ATTENDANCE_CHURCH
		 , A.OFFICIATOR
		 , A.ATTENDANCE_REASON
		 , A.LEADER
		 , DATE_FORMAT(A.REGIST_TS,'%Y-%m-%d') AS REGIST_TS
		 , A.UPDATE_TS
	 FROM  MEMBER A, VILLAGE B
	 WHERE A.VILLAGE_SEQ = B.VILLAGE_SEQ
	   AND B.VILLAGE_USE_YN = 'Y'
	   AND A.MEMBER_SEQ = #{memberSeq}
	</select>

	<select id="selectFamilyRelations" resultType="java.util.Map">
	SELECT FAMILY_SEQ
		 , MEMBER_SEQ
		 , SF_GET_CODE_NAME('AC',FAMILY_CODE) AS FAMILY_CODE_NAME
		 , FAMILY_CODE
		 , FAMILY_NAME
		 , SF_GET_CODE_NAME('AD',RELIGON_CODE) AS RELIGON_CODE
		 , REMARK
	  FROM FAMILY_RELATIONS 
	 WHERE MEMBER_SEQ = #{memberSeq} 
	ORDER BY FAMILY_CODE
	</select>
	
	<update id="updateMemberInfo" parameterType="java.util.Map">
	UPDATE MEMBER A, VILLAGE B SET
		  A.MEMBER_NAME = #{memberName}
		, A.MEMBER_BIRTHDAY = #{memberBirthday}
		, A.MEMBER_GENDER = #{memberGenderCode}
	 	, A.VILLAGE_SEQ = #{villageSeq}
		, A.MEMBER_EMAIL = #{memberEmail}
		, A.PHONE_NUMBER = #{phoneNumber}
		, A.MEMBER_POSITION = #{memberPosition}
		, A.MEMBER_JOB = #{memberJob}
		, A.MEMBER_ADDRESS = #{memberAddress}
	 	, A.FAITH_START_DATE = #{faithStartDate}
		, A.BAPTISM_CODE = #{baptismCode}
	 	, A.OFFICIATOR = #{officiator}
	 	, A.ATTENDANCE_CHURCH = #{attendanceChurch}
		, A.ATTENDANCE_REASON = #{attendanceReason}
		, A.LEADER = #{leader}
		, A.UPDATE_TS = NOW()
	WHERE A.VILLAGE_SEQ = B.VILLAGE_SEQ	
	AND   A.MEMBER_SEQ = #{memberSeq}
	</update>
	
	<update id="updateFamilyRelations" parameterType="java.util.Map">
	<!--  MEMBER_SEQ, FAMILY_SEQ NOT NULL 일 때 UPDATE, NULL이면 INSERT -->
	<!--  아니면 그냥 DELETE INSERT -->
	<!--  TABLE 구조 생각하기 -->
	UPDATE FAMILY_RELATIONS SET
		  FAMILY_CODE = #{familyCode}
		, FAMILY_NAME = #{familyName}
		, RELIGON_CODE = #{religonCode}
		, REMARK
	WHERE MEMBER_SEQ = #{memberSeq}
	  AND FAMILY_SEQ = #{familySeq}
	</update>
    
</mapper>