<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.segwangYouth.attendanceMapper">

    <select id="selectMemberList" resultType="java.util.Map">
	SELECT MEMBER_NAME
		 , SF_GET_CODE_NAME('AA',MEMBER_POSITION) AS MEMBER_POSITION
		 , SF_GET_CODE_NAME('AC',VILLAGE_CODE) AS VILLAGE_CODE
	 FROM  MEMBER
	 ORDER BY VILLAGE_CODE DESC
    </select>
    
    <select id="selectCodeList" resultType="java.util.Map">
	 SELECT A.CLASS_NAME, CODE_NO, CODE_NAME
	  FROM CLASS_CODE_MASTER A, CODE_DETAIL B
	 WHERE A.CLASS_CODE = B.HIGHER_CLASS_CODE
	   AND CLASS_CODE = #{classCode} AND USE_YN = 'Y'
    </select>
    
    <select id="selectMemberCount" resultType="java.util.Map">
	SELECT SF_GET_CODE_NAME('AC',VILLAGE_CODE) AS VILLAGE_NAME
		 , COUNT(VILLAGE_CODE) AS VILLAGE_CNT
	  FROM MEMBER
	GROUP BY VILLAGE_CODE
    </select>
    
</mapper>